apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 195580718602.dkr.ecr.us-east-1.amazonaws.com/shopping-site-backend:9b0a1483ffa73ad52b02f3014c9308fc673554d5
          ports:
            - containerPort: 5000
      imagePullSecrets:
        - name: ecr-secret   # <-- reference the secret you create

